#root { height: 100%;
  width: 100%; }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  height: 100vh;
  width: 100vw;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: none;
}

.swiper-slide-bg {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
